@charset "UTF-8";

main {}

main .hero {
  background: var(--sm-blue);
  padding-top: 120px;
  height: 100vh;
  min-height: 840px;
  position: relative;
  overflow: hidden;
}

main .hero .hero-copy {
  color: var(--sm-dark-pink);
  padding: var(--sm-padding-xl);
}

main .hero .hero-copy h1 {
  font-size: 100px;
  line-height: 1;
}

main .hero .hero-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-30%, 20%);
  width: 80%;
  height: 80%;
  background-image: url('../img/sm-hero-image.svg');
  background-repeat: no-repeat;
  background-size: cover;

}

@media (max-width:1200px) {
  main .hero .hero-copy h1 {
    font-size: 90px;
  }
}

@media (max-width:781px) {
  main .hero .hero-copy h1 {
    font-size: 60px;
  }

  main .hero .hero-image {
    transform: translate(-40%, 0%);
    width: 100%;
    height: 70%;
  }
}



.home-section {
  color: #000;
}

.home-section h1 {
  font-size: 80px;
}

.home-news {
  background: var(--sm-dark-pink);
}

.home-ir {
  background: #B0B7C0;
}


.section-header{
  display: flex;
  justify-content: space-between;
  padding: var(--sm-padding-l) var(--sm-padding-l);
  align-items: center;
}
.swiper-nav {
  display: flex;
  gap: 20px;
}

.nav-button {
  display: block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-size: contain;
}

.prev {
  background-image: url('../img/icon-arrow-left-big.svg');
}

.next {
  background-image: url('../img/icon-arrow-right-big.svg');
}

.swiper-nav .swiper-button-disabled{
  opacity: 0.2;
}

.swiper-wrapper{
  height: 300px;
}


.swiper-slide{}
.news-item{
  height: 300px;
  width: 45%;
  display: flex;
  max-width: 600px;
  padding: var(--sm-padding-m) var(--sm-padding-m);
}
.section-content{
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding: var(--sm-padding-s);
}

.home-section .title{
  font-size: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ir-con{}
.ir-con ul{
  display: flex;
  gap: 20px;
  padding: var(--sm-padding-l) var(--sm-padding-l);
}
.ir-con li{
  flex: 1;
}
.ir-con a{
  display: block;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  padding: var(--sm-padding-s);
  height: 200px;
}

@media (max-width:1200px) {
  .home-section h1 {
    font-size: 60px;
  }
  .home-section .title{
    font-size: 24px;
  }
}

@media (max-width:781px) {
  .home-section h1 {
    font-size: 34px;
  }
  .nav-button {
    width: 40px;
    height: 40px;
  }

  .home-section .title{
    font-size: 20px;
  }

  .news-item{
    width: 90%;
  }

  .ir-con ul{
    flex-direction: column;
    gap: 0;
  }

  .ir-con li:last-child a{
    border-top: none;
  }
}